/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */

*{
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 1920px;
    height: auto;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
#navegador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 80px;
    box-shadow: 1px 1px 5px black;
}

#navegador li{
    width: 384px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navegador li:hover{
    background-color:#4e4c4c;
    color: white;
    transition: 700ms;
}


/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(174, 209, 243);
}

#redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}