/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box; }

h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 50px 0px; }

img {
  width: 100%; }

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
header {
  background: #550027;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100px; }

.logo {
  font-size: 0px;
  height: 80px;
  width: 200px;
  background-image: url(../img/logo.png); }

.checkbox {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.checkbox:focus ~ .checkbox {
  outline: 3px solid rgba(173, 216, 230, 0.75); }

.navLabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center; }

.navLabel span,
.navLabel span::before,
.navLabel span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative; }

.navLabel span::before,
.navLabel span::after {
  content: '';
  position: absolute; }

.navLabel span::before {
  bottom: 7px; }

.navLabel span::after {
  top: 7px; }

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #550027;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  margin-bottom: 1em;
  margin-left: 1em; }

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  opacity: 0;
  transition: opacity 150ms ease-in-out; }

.checkbox:checked ~ nav {
  transform: scale(1, 1); }

.checkbox:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms; }

@media screen and (min-width: 700px) {
  .navLabel {
    display: none; }
  header {
    display: flex;
    justify-content: center;
    align-items: center; }
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  nav ul {
    display: flex; }
  nav li {
    margin-left: 3em;
    margin-bottom: 0; }
  nav a {
    opacity: 1;
    position: relative; }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms; }
  nav a:hover::before {
    transform: scale(1, 1); } }

/* -------------------------------------------------------------------------- */
/*                                    main index                              */
/* -------------------------------------------------------------------------- */
.mainIndex {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  height: 100%; }
  .mainIndex #tarjetaConteiner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; }
    .mainIndex #tarjetaConteiner .tarjeta {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 300px;
      height: 350px;
      box-shadow: 1px 1px 5px black;
      margin: 0px 20px;
      color: white; }
      .mainIndex #tarjetaConteiner .tarjeta a {
        color: white; }
    .mainIndex #tarjetaConteiner .tarjeta:hover {
      transform: scale(1.1, 1.1);
      transition: 1s; }
    .mainIndex #tarjetaConteiner #sys {
      background-image: url("../img/SyS.jpg"); }
    .mainIndex #tarjetaConteiner #blanco {
      background-image: url("../img/blanco.jpg"); }
    .mainIndex #tarjetaConteiner #tinto {
      background-image: url("../img/tinto.jpg"); }
    .mainIndex #tarjetaConteiner #espumante {
      background-image: url("../img/espumante.jpg"); }

#serviciosConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("../img/servicios-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 20px; }
  #serviciosConteiner .tarjetaServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 300px;
    height: 350px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
    margin: 0px 20px;
    background-color: rgba(255, 255, 255, 0.85); }
    #serviciosConteiner .tarjetaServicios ul {
      margin: 40px; }
      #serviciosConteiner .tarjetaServicios ul li {
        margin: 10px; }
    #serviciosConteiner .tarjetaServicios button {
      width: 200px;
      height: 30px;
      background-color: #550027; }
      #serviciosConteiner .tarjetaServicios button a {
        color: white; }
    #serviciosConteiner .tarjetaServicios button:hover {
      background-color: rgba(255, 255, 255, 0.85);
      transition: 800ms; }
      #serviciosConteiner .tarjetaServicios button:hover a:hover {
        color: #550027; }

/* -------------------------------------------------------------------------- */
/*                                    main Nosotros                           */
/* -------------------------------------------------------------------------- */
.mainNosotros {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .mainNosotros .imagen {
    width: 960px;
    height: 850px; }
  .mainNosotros .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 960px; }
    .mainNosotros .contenido p {
      height: auto;
      margin: 20px;
      font-family: "Roboto", sans-serif; }
      .mainNosotros .contenido p a {
        color: #550027;
        font-weight: bold; }

/* -------------------------------------------------------------------------- */
/*                                    main Tienda                             */
/* -------------------------------------------------------------------------- */
.mainTienda {
  width: 100%; }
  .mainTienda .portada {
    width: 100%; }
    .mainTienda .portada img {
      width: 100%; }
  .mainTienda h2 {
    margin-left: 48%; }
  .mainTienda #productos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 550px);
    row-gap: 40px;
    column-gap: 40px;
    justify-content: center;
    margin-bottom: 30%; }
    .mainTienda #productos .tarjetaProductos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 10px black; }
      .mainTienda #productos .tarjetaProductos span {
        margin: 10px;
        font-family: "Roboto Condensed", sans-serif; }
      .mainTienda #productos .tarjetaProductos button {
        width: 200px;
        height: 30px;
        background-color: #550027;
        color: white;
        font-family: "Roboto Condensed", sans-serif; }
      .mainTienda #productos .tarjetaProductos button:hover {
        background-color: rgba(255, 255, 255, 0.85);
        transition: 800ms;
        color: #550027;
        font-family: "Roboto Condensed", sans-serif; }

@media screen and (max-width: 700px) {
  #productos {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column !important; } }

/* -------------------------------------------------------------------------- */
/*                                main contactanos                            */
/* -------------------------------------------------------------------------- */
.mainContactanos {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .mainContactanos .containerForm {
    width: 100%;
    height: 850px;
    background-image: url("../img/bannerContacto.jpg");
    text-align: center; }
    .mainContactanos .containerForm form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 100px; }
      .mainContactanos .containerForm form input, .mainContactanos .containerForm form textarea {
        width: 600px;
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
        background-color: #202020;
        color: white; }

@media screen and (max-width: 700px) {
  input, textarea {
    width: 100% !important;
    margin: 10px; } }

/* -------------------------------------------------------------------------- */
/*                                    main SyS                                */
/* -------------------------------------------------------------------------- */
.mainSyS {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  margin-bottom: 100px; }
  .mainSyS .titulo {
    position: relative; }
  .mainSyS h2 {
    font-size: 0px; }
  .mainSyS p, .mainSyS h3 {
    padding: 20px 200px; }

@media screen and (max-width: 700px) {
  .mainSyS p, .mainSyS h3 {
    padding: 20px 5px; } }

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
  background-color: #550027;
  color: white;
  width: 100%; }
  footer #redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    color: white; }
    footer #redes li {
      margin: 0xp 15px; }
  footer a, footer h3 {
    color: white; }

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column-reverse;
    height: 300px;
    margin: 10px 0px; } }
