/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black; }

h1 {
  font-family: 'Merienda', cursive;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 36px;
  color: black; }

h2 {
  font-family: 'Merienda', cursive;
  margin: 50px 0px; }

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
#navegador {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  box-shadow: 1px 1px 5px black; }
  #navegador li {
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: gradiente; }
  #navegador li:hover {
    background-color: #aed1f3;
    transition: 800ms; }

/* -------------------------------------------------------------------------- */
/*                                    main index                              */
/* -------------------------------------------------------------------------- */
.mainIndex {
  font-family: 'Roboto', sans-serif;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px; }
  .mainIndex #tarjetaConteiner {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .mainIndex #tarjetaConteiner .tarjeta {
      font-family: 'Merienda', cursive;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 350px;
      box-shadow: 1px 1px 5px black;
      margin: 0px 20px;
      color: white; }
      .mainIndex #tarjetaConteiner .tarjeta a {
        color: white; }
    .mainIndex #tarjetaConteiner .tarjeta:hover {
      transform: scale(1.1, 1.1);
      transition: 1s; }
    .mainIndex #tarjetaConteiner #sys {
      background-image: url("../img/SyS.jpg"); }
    .mainIndex #tarjetaConteiner #blanco {
      background-image: url("../img/blanco.jpg"); }
    .mainIndex #tarjetaConteiner #tinto {
      background-image: url("../img/tinto.jpg"); }
    .mainIndex #tarjetaConteiner #espumante {
      background-image: url("../img/espumante.jpg"); }

#serviciosConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("../img/servicios-background.jpg");
  background-repeat: no-repeat;
  width: 1920px;
  height: 500px; }
  #serviciosConteiner .tarjetaServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 350px;
    box-shadow: 1px 1px 5px black;
    margin: 0px 20px;
    background-color: white; }
    #serviciosConteiner .tarjetaServicios ul {
      margin: 40px; }
      #serviciosConteiner .tarjetaServicios ul li {
        margin: 10px; }
    #serviciosConteiner .tarjetaServicios button {
      width: 200px;
      height: 30px;
      background-color: orangered; }
      #serviciosConteiner .tarjetaServicios button a {
        color: white; }

/* -------------------------------------------------------------------------- */
/*                                    main Nosotros                           */
/* -------------------------------------------------------------------------- */
.mainNosotros {
  font-family: 'Roboto', sans-serif;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .mainNosotros .imagen {
    width: 960px;
    height: 850px; }
  .mainNosotros .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .mainNosotros .contenido p {
      width: 900px;
      height: auto;
      margin: 30px; }

/* -------------------------------------------------------------------------- */
/*                                    main Tienda                             */
/* -------------------------------------------------------------------------- */
.mainTienda {
  width: 1920px; }
  .mainTienda #productos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 450px);
    row-gap: 40px;
    column-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px; }
    .mainTienda #productos .tarjetaProductos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 10px black; }

/* -------------------------------------------------------------------------- */
/*                                main contactanos                            */
/* -------------------------------------------------------------------------- */
.mainContactanos {
  font-family: 'Roboto', sans-serif;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .mainContactanos .containerForm {
    width: 1920px;
    height: 850px;
    background-image: url("../img/bannerContacto.jpg");
    text-align: center; }
    .mainContactanos .containerForm form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 100px; }
      .mainContactanos .containerForm form input, .mainContactanos .containerForm form textarea {
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
        background-color: #202020;
        color: white; }

/* -------------------------------------------------------------------------- */
/*                                    main SyS                                */
/* -------------------------------------------------------------------------- */
.mainSyS {
  font-family: 'Roboto', sans-serif;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px; }

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;
  color: white; }
  footer #redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    color: white; }
    footer #redes li {
      margin: 0xp 15px; }
  footer a, footer h3 {
    color: white; }
