/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */

*{
    margin: 0px ;
    padding: 0px;
    list-style: none;
    text-decoration:none ;
    color:black;
   /* font-family: 'Roboto', sans-serif;
    font-family: 'Merienda', cursive;*/
}


/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

#navegador{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 80px;
    box-shadow: 1px 1px 5px black;
}

#navegador li{
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: gradiente;
}

#navegador li:hover{
    background-color: rgb(174, 209, 243);
    transition: 800ms;
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */

main{
    font-family: 'Roboto', sans-serif;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;  
}

h1{
    font-family: 'Merienda', cursive;
    position:absolute;
    top:10px;
    left: 20px;
    font-size: 36px;
    color:black;
}

h2{
    font-family: 'Merienda', cursive;
    margin: 50px 0px;
}


/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: white;
}

#redes{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 300px;
    color: white;

}

#redes li{
    margin: 0xp 15px;
}

footer a,footer h3{
    color: white;
}