/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-primario: #550027;
$color-secundario: black;
$color-terciario: white;

$roboto:'Roboto Condensed', sans-serif;
$robotoP: 'Roboto', sans-serif;



*{
    margin: 0px ;
    padding: 0px;
    list-style: none;
    text-decoration:none ;
    color: $color-secundario;
    box-sizing: border-box;
}

h2{
    font-family:$roboto;
    margin: 50px 0px;
}

img{
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */


header {
    background: $color-primario;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height:100px
  }

  .logo {
      font-size: 0px;
      height:80px;
      width:200px;
      background-image: url(../img/logo.png);
  }

  .checkbox {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .checkbox:focus ~ .checkbox {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .navLabel {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .navLabel span,
  .navLabel span::before,
  .navLabel span::after {
    display: block;
    background: $color-terciario;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .navLabel span::before,
  .navLabel span::after {
    content: '';
    position: absolute;
  }
  
  .navLabel span::before {
    bottom: 7px;
  }
  
  .navLabel span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: $color-primario;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $roboto;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
    
  .checkbox:checked ~ nav {
    transform: scale(1,1);
  }
  
  .checkbox:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 700px) {
    .navLabel {
      display: none;
    }
  
    header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .logo {
      
    }
    
    nav {
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;      
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  }


/* -------------------------------------------------------------------------- */
/*                                    main index                              */
/* -------------------------------------------------------------------------- */

.mainIndex{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px; 
    height:100%;
    #tarjetaConteiner{
        display: flex;
        align-items:center ;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        .tarjeta{
            font-family:$roboto;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 300px;
            height: 350px;
            box-shadow: 1px 1px 5px black;
            margin: 0px 20px;
            color: $color-terciario;
            a{
                color:$color-terciario;
            }
        }
        .tarjeta:hover{
            transform: scale(1.1,1.1);
            transition: 1s;
        }
        #sys{
            background-image: url("../img/SyS.jpg");
        }
        #blanco{
            background-image: url("../img/blanco.jpg");
        }
        #tinto{
            background-image: url("../img/tinto.jpg");
        }
        #espumante{
            background-image: url("../img/espumante.jpg");
        }
        
        }
    }    
#serviciosConteiner{
    display: flex;
    flex-direction: row;
    align-items:center ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../img/servicios-background.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding:20px;
    .tarjetaServicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin:20px;
        width: 300px;
        height: 350px;
        font-weight: bold;
        box-shadow: 1px 1px 5px black;
        margin: 0px 20px;
        background-color: rgba(255,255,255,0.85);
        ul{
            margin: 40px;
            li{
                margin: 10px;
            }
        }
        button{
            width: 200px;
            height: 30px;
            background-color: $color-primario;
            a{
                color: white;
               
            }
        }
        button:hover{
            background-color:rgba(255,255,255,0.85);
            transition:800ms;
            a:hover{
                color:$color-primario;
            }
        }
    }
    
}




/* -------------------------------------------------------------------------- */
/*                                    main Nosotros                           */
/* -------------------------------------------------------------------------- */
.mainNosotros{
    font-family: $roboto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .imagen{
        width: 960px;
        height: 850px;
    }
    .contenido{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width:960px;
        p{         
            height: auto;
            margin: 20px;
            font-family: $robotoP;
            a{
                color: $color-primario;
                font-weight: bold;
            }
        }
    }
 
}

/* -------------------------------------------------------------------------- */
/*                                    main Tienda                             */
/* -------------------------------------------------------------------------- */

.mainTienda{
    width: 100%;
    h2{
      margin-left: 48%;  
    }
    #productos{
        display: grid;
        grid-template-columns: repeat(3,400px);
        grid-template-rows: repeat(3,550px);
        row-gap:40px ;
        column-gap: 40px;
        justify-content: center;
        margin-bottom: 30%;
        .tarjetaProductos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            box-shadow: 1px 1px 10px black;
            span{
                margin:10px;
                font-family: $roboto;
            }
            button{
                width: 200px;
                height: 30px;
                background-color: $color-primario;
                 color: white;
                 font-family: $roboto;
            }
            button:hover{
                background-color:rgba(255,255,255,0.85);
                transition:800ms;
                color:$color-primario;
                font-family: $roboto;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #productos{
        display: grid;
        grid-template-columns: repeat(1,400px);
        grid-template-rows: repeat(1,550px);
        row-gap:40px ;
        column-gap: 40px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                main contactanos                            */
/* -------------------------------------------------------------------------- */

.mainContactanos{
    font-family: $roboto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .containerForm{
        width: 100%;
        height: 850px;
        background-image: url("../img/bannerContacto.jpg");
        text-align: center;
        form{
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            margin-top: 100px; 
            input,textarea{
                margin: 20px;
                border-radius: 10px;
                padding: 10px;
                background-color: rgb(32, 32, 32);
                color: white;
            
            }
        }
       
    }
  
}

/* -------------------------------------------------------------------------- */
/*                                    main SyS                                */
/* -------------------------------------------------------------------------- */

.mainSyS{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $robotoP;
    flex-direction: column;
    margin-bottom: 100px;
    .titulo{
        position: relative;
        
    }  
    h2{
        font-size: 0px;
    }
    p,h3{
       padding: 20px 200px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    background-color: #550027;
    color: white;
    width: 100%;
    #redes{
        display: flex;
        justify-content:space-between ;
        align-items: center;
        width: 300px;
        color: white;
        li{
            margin: 0xp 15px;
        }
    
    }
    a,h3{
        color: white;
    }
}

@media screen and (max-width:600px){
    footer{
        flex-direction: column-reverse;
        height:300px;
        margin: 10px 0px;
    }
}