/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-primario: #550027;
$color-secundario: black;
$color-terciario: white;

$roboto:'Roboto Condensed', sans-serif;
$robotoP: 'Roboto', sans-serif;



*{
    margin: 0px ;
    padding: 0px;
    list-style: none;
    text-decoration:none ;
    color: $color-secundario;
    box-sizing: border-box;
}

h2{
    font-family:$roboto;
    margin: 50px 0px;
}

img{
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */


nav{
    h1{
        font-size: 0px;
        width: 200px;
        height: 80px;
        background-repeat: no-repeat;
        background-image: url("../img/Logo.png");
        position: absolute;
        left: 50px;
        top: 10px;
    }
    #navegador{
    font-family:'Roboto Condensed', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 100px;
    width: 100%;
    background-color:$color-primario;
    li{
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        a{
            color:$color-terciario;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
        }    
    li:after{
        content: "";
        position: absolute;
        background-color: $color-terciario;
        height: 20px;
        width:0;
        left: 0;
        bottom: -25px;
        transition: 0.7s;
    }
    li:hover:after{
        width: 100%;
    }
    }
}   


/* -------------------------------------------------------------------------- */
/*                                    main index                              */
/* -------------------------------------------------------------------------- */

.mainIndex{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px; 
    #tarjetaConteiner{
        display: flex;
        align-items:center ;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        .tarjeta{
            font-family:$roboto;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 300px;
            height: 350px;
            box-shadow: 1px 1px 5px black;
            margin: 0px 20px;
            color: $color-terciario;
            a{
                color:$color-terciario;
            }
        }
        .tarjeta:hover{
            transform: scale(1.1,1.1);
            transition: 1s;
        }
        #sys{
            background-image: url("../img/SyS.jpg");
        }
        #blanco{
            background-image: url("../img/blanco.jpg");
        }
        #tinto{
            background-image: url("../img/tinto.jpg");
        }
        #espumante{
            background-image: url("../img/espumante.jpg");
        }
        
        }
    }    
#serviciosConteiner{
    display: flex;
    flex-direction: row;
    align-items:center ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../img/servicios-background.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    .tarjetaServicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin:20px;
        width: 300px;
        height: 350px;
        font-weight: bold;
        box-shadow: 1px 1px 5px black;
        margin: 0px 20px;
        background-color: rgba(255,255,255,0.85);
        ul{
            margin: 40px;
            li{
                margin: 10px;
            }
        }
        button{
            width: 200px;
            height: 30px;
            background-color: $color-primario;
            a{
                color: white;
               
            }
        }
        button:hover{
            background-color:rgba(255,255,255,0.85);
            transition:800ms;
            a:hover{
                color:$color-primario;
            }
        }
    }
    
}

/* -------------------------------------------------------------------------- */
/*                                    main Nosotros                           */
/* -------------------------------------------------------------------------- */
.mainNosotros{
    font-family: $roboto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .imagen{
        width: 960px;
        height: 850px;
    }
    .contenido{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width:960px;
        p{         
            height: auto;
            margin: 20px;
            font-family: $robotoP;
            a{
                color: $color-primario;
                font-weight: bold;
            }
        }
    }
 
}

/* -------------------------------------------------------------------------- */
/*                                    main Tienda                             */
/* -------------------------------------------------------------------------- */

.mainTienda{
    width: 100%;
    h2{
      margin-left: 920px;  
    }
    #productos{
        display: grid;
        grid-template-columns: repeat(3,400px);
        grid-template-rows: repeat(3,550px);
        row-gap:40px ;
        column-gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        .tarjetaProductos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            box-shadow: 1px 1px 10px black;
            span{
                margin:10px;
                font-family: $roboto;
            }
            button{
                width: 200px;
                height: 30px;
                background-color: $color-primario;
                 color: white;
                 font-family: $roboto;
            }
            button:hover{
                background-color:rgba(255,255,255,0.85);
                transition:800ms;
                color:$color-primario;
                font-family: $roboto;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                main contactanos                            */
/* -------------------------------------------------------------------------- */

.mainContactanos{
    font-family: $roboto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .containerForm{
        width: 100%;
        height: 850px;
        background-image: url("../img/bannerContacto.jpg");
        text-align: center;
        form{
            display: flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            margin-top: 100px; 
            input,textarea{
                margin: 20px;
                border-radius: 10px;
                padding: 10px;
                background-color: rgb(32, 32, 32);
                color: white;
            
            }
        }
       
    }
  
}

/* -------------------------------------------------------------------------- */
/*                                    main SyS                                */
/* -------------------------------------------------------------------------- */

.mainSyS{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $robotoP;
    flex-direction: column;
    margin-bottom: 100px;
    .titulo{
        position: relative;
        
    }  
    h2{
        font-size: 0px;
    }
    p,h3{
       padding: 20px 200px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    background-color: #550027;
    color: white;
    width: 100%;
    #redes{
        display: flex;
        justify-content:space-between ;
        align-items: center;
        width: 300px;
        color: white;
        li{
            margin: 0xp 15px;
        }
    
    }
    a,h3{
        color: white;
    }
}